#*/*/chromedriver
#*/*/LICENSE.chromedriver
.idea/
sample
/server/build/test/Analysis-00.toc
/server/build/manage/base_library.zip
/server/build/test/base_library.zip
/sample_out/category_list.json
/server/build/test/EXE-00.toc
/sample_out/fund_industry.json
/sample_out/industry_list.json
/server/manage.spec
/server/build/test/PKG-00.toc
/server/build/test/PYZ-00.pyz
/server/build/test/PYZ-00.toc
/server/dist/test.exe
/server/build/test/test.pkg
/server/test.py
/server/test.spec
/server/build/test/Tree-00.toc
/server/build/test/Tree-01.toc
/server/build/test/Tree-02.toc
/server/build/test/warn-test.txt
/server/build/test/xref-test.html
